<template name="components_createDictJob">
	<div class="panel panel-default panel-dapp">
		<div class="panel-heading">Create Word Explanation Job</div>
		<div class="panel-body">
			<p>
				For 10 ETH only, have an English word explained by our network of
				highly skilled translators with a high reputation!
			</p>
			<form id="frmCreateDictJob">
				<input type="text" id="word" class="form-control" placeholder="your word">
				<div id="bSubmit" class="btn btn-default">Submit</div>
				<div id="bCheck" class="btn btn-default">Check</div>
			</form>
		</div>
	</div>
</template>
