<template name="components_createDictJob">
	<div class="panel panel-default panel-dapp">
		<div class="panel-heading">Create Word Explanation Job</div>
		<div class="panel-body">
			<p>
				For 10 ETH only, have an English word explained by our network of
				highly skilled translators with a high reputation!
			</p>
			<form id="frmCreateDictJob">
				<div class="input-group">
						<span class="input-group-addon">{{regName sel_acc}}</span>
						<input type="text" id="iWord" class="form-control" placeholder="your word" />
				</div>
				<div class="input-group">
						<span class="input-group-addon">Reward offered (ether)</span>
						<input type="text" id="iReward" class="form-control" />
				</div>
				<div id="bSubmit" class="btn btn-default">Submit &amp; Pay</div>
			</form>
			<p>
				Status:
			</p>
			{{#if Roboth_live}}
				<div class="alert alert-success">
					Roboth contract is live!
				</div>
			{{else}}
				<div class="alert alert-danger">
					Roboth contract is not running :(
				</div>
			{{/if}}
		</div>
	</div>
</template>
