<template name="components_listDictJobs">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">Dict Jobs</div>
		<div class="btn btn-default" id="bRefreshList">Refresh</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead><tr>
                        <td>#</td>
                        <td>word</td>
                        <td>reward</td>
                </tr></thead>
                <tbody>
				{{#each userdata}}
                    <tr>
                        <td colspan="3">
                            {{address}}
                        </td>
					</tr>
					{{#each jobs}}
					<tr>
						<td> {{idx}} </td>
						<td> {{word}} </td>
						<td> {{toEth reward}} </td>
					</tr>
					{{/each}}
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="panel-heading">My Dict Job</div>
        <div class="panel-body">
            {{my_jobid}}
        </div>
    </div>
</template>
