<template name="components_listDictJobs">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">Dict Jobs</div>
		<div class="btn btn-default" id="bRefreshList">Refresh</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead><tr>
                        <td>#</td>
                        <td>word</td>
                        <td>reward</td>
						<td>ops</td>
                </tr></thead>
                <tbody>
				{{#each userdata}}
                    <tr>
						<td>{{> dapp_identicon identity=address class="dapp-small"}}</td>
                        <td colspan="3">
                            {{regName address}}
                        </td>
					</tr>
					{{#each jobs}}
					<tr>
						<td> {{idx}} </td>
						<td> {{word}} </td>
						<td> {{toEth reward}} </td>
                        <td data-job-guid="{{guidStr job_guid}}">
							<div class="job_answer btn btn-default" data-job-id="{{idx}}" data-owner="{{owner}}">Answer</div>
							<div class="job_solutions btn btn-default" data-job-id="{{idx}}" data-owner="{{owner}}">Solutions</div>
						</td>
					</tr>
					{{/each}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
